mat-nav-list.list-horizontal {
  padding: 0;
  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }
}

:host {
  display: block;
  position: absolute;
  z-index: 100;
  width: 100vw;
}
