<h3>Wellcome to my app first with <i>three.js</i></h3>
<p>
  Github page:
  <a href="https://github.com/franckevva/threejs-test-task" target="_blank"
    >https://github.com/franckevva/threejs-test-task</a
  >
</p>

<div>
  <ul>
    <li>
      On the <i>Cube page</i> you can play with cube, control it and change
      values by GUI block
    </li>
    <li>
      On the <i>Book scene</i> you can find rendered model. You can move it and
      see details of it. When you left the page, your current state will be
      saved on the backend side and loaded on the next visited.
    </li>
  </ul>
</div>
